.not_found{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    background-color: white;
    
}
.img_top {
    margin-top: 50px;

}
